*.ast_raw
*.depend_raw
*.gcov
*.iml
*.patch
*.pyc
*.swp
*~
/.cache/
/.clang-format
/.gdb_history
/.git-submodule-status
/GNUmakefile
/.idea/
/.sdk
/.stgit-*
/.vscode/
/build/
cscope.*
GPATH
GRTAGS
GTAGS
tags
TAGS