config ACPI
    bool

config ACPI_X86
    bool

config ACPI_ICH9
    bool

config ACPI_CPU_HOTPLUG
    bool

config ACPI_PIIX4
    bool

config ACPI_PCIHP
    bool

config ACPI_PCI_BRIDGE
    bool

config ACPI_APEI
    bool
    depends on ACPI

config ACPI_PCI
    bool
    depends on ACPI && PCI

config ACPI_VMGENID
    bool

config ACPI_VMCLOCK
    bool

config ACPI_HW_REDUCED
    bool
    select ACPI
