# devices Kconfig
source acpi/Kconfig
source audio/Kconfig
source block/Kconfig
source char/Kconfig
source core/Kconfig
source display/Kconfig
source gpio/Kconfig
source hyperv/Kconfig
source input/Kconfig
source intc/Kconfig
source mem/Kconfig
source misc/Kconfig
source net/Kconfig
source nvram/Kconfig
source pci-host/Kconfig
source pci/Kconfig
source rtc/Kconfig
source smbios/Kconfig
source usb/Kconfig
source virtio/Kconfig
source watchdog/Kconfig

# arch Kconfig
source arm/Kconfig
source cpu/Kconfig

# Symbols used by multiple targets
config TEST_DEVICES
    bool

config AARCH64
    bool
    default y
config ARM
    bool
    default y
