config A9MPCORE
    bool
    select A9SCU       # snoop control unit
    select ARM_GIC

config A15MPCORE
    bool
    select ARM_GIC

config ARM11MPCORE
    bool
    select ARM11SCU

config CPU_CLUSTER
    bool
