config ARM_VIRT
    bool
    default y
    depends on ARM
    depends on GH || TCG
    select ARM_GIC
    select ACPI
    select GPIO_KEY
    select DEVICE_TREE
    select PCI_EXPRESS
    select PCI_EXPRESS_GENERIC_BRIDGE
    select PL011
    select PL031
    select PL061
    select GPIO_PWR
    select PLATFORM_BUS
    select SMBIOS
    select ACPI_PCI
    select ACPI_HW_REDUCED
    select ACPI_APEI
